.MyIntro {
  color: #ffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.MyIntro span {
  text-align: center;
  font-size: 2.5em;
  font-weight: 500;
  letter-spacing: 0.02em;
  margin-bottom: -0.2em;
}

.MyIntro p {
  padding: 0 5em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.6em;
  text-align: center;
  font-weight: 300;
  letter-spacing: 0.02em;
  word-wrap: normal;
}

/* ***************************** */
@media only screen and (max-width: 768px) {
  .MyIntro {
  }
  .MyIntro span {
    font-size: 1.6em;
    font-weight: 500;
    letter-spacing: 0.04em;
  }
  .MyIntro p {
    font-size: 1.3em;
    font-weight: 300;
    padding: 0 0em;
  }
}
