.Container {
  display: flex;
  flex-direction: column;
  margin-top: 4.3em;
  .TopContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    // background: rgb(154, 77, 255);
    // background: linear-gradient(
    //   180deg,
    //   #7b1af8cd 19%,
    //   rgba(239, 212, 250, 0.679) 99%
    // );
    .LeftWrapper {
      width: 50%;
      padding: 1em;
      padding-left: 2em;
      height: 20em;
      //   display: flex;
      //   flex-direction: column;
      //   align-items: flex-start;
      //   justify-content: center;
      > p {
        margin: 0;
        font-size: 1.9em;
        font-weight: 600;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
          sans-serif;
        margin-bottom: 0.2em;
        color: #494949;
      }
      > p:nth-child(2) {
        font-size: 1.4em;
        font-weight: 500;
      }
      > span {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        width: 80%;
        max-width: 80%;
        margin-bottom: 1em;
        flex-wrap: wrap;
        > p {
          cursor: pointer;
          margin: 0;
          color: #ffff;
          margin-top: 0.6em;
          margin-right: 0.5em;
          border-radius: 0.4em;
          background-color: #8b36f8;
          padding: 0.08em 0.5em;
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
            sans-serif;
        }
      }
      .ButtonWrapper {
        margin-top: 1.8em;
        flex-wrap: wrap;
        > a {
          text-align: center;
          width: 7em;
          cursor: pointer;
          text-decoration: none;
          background-color: #fff;
          outline: none;
          margin: 0;
          margin-right: 0.8em;
          border-radius: 2em;
          font-size: 1.2em;
          font-weight: 500;
          padding: 0.3em 0.8em;
          color: #7b1af8;
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
          border: 2.2px solid #7b1af8;
          transition: all 0.4s;
          &:hover {
            background-color: #7b1af8;
            color: #ffff;
          }
          > svg {
            margin-left: 0.26em;
          }
        }
      }
    }
    .RightWrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60%;
      > img {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        height: 20em;
        margin-left: -1em;
      }
      > img:nth-child(1) {
        width: 25%;
        border-radius: 0.1em;
      }
      > img:nth-child(2) {
        width: 78%;
        margin-left: 1em;
      }
    }
    .RightWrapperMobile {
      display: none;
    }
  }
  .BottomContainer {
    display: flex;
    flex-direction: column;
    padding: 1em 2em;
    width: 100%;
    > p {
      display: flex;
      align-items: center;
      padding: 0.2em 1em;
      margin: 0;
      font-size: 1.7em;
      font-weight: 600;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
      margin-bottom: 0.2em;
      color: #414141;
      > svg {
        margin-right: 0.26em;
        color: #8b36f8;
        font-size: 1.2em;
      }
      //   border-bottom: 2px solid #cecece;
    }
    .ListContainer {
      display: flex;
      justify-content: center;
      margin-bottom: 1em;
      margin-top: 0.6em;
      .List {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
        margin: 0;
        margin-right: 0.7em;
        color: #494949;
        font-weight: 400;
        font-size: 1.1em;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
          sans-serif;
        cursor: pointer;
        > img {
          width: 55px;
          height: 45px;
          margin-bottom: 0.2em;
        }
      }
    }
    > ul {
      margin: 0;
      margin-left: 1.6em;
      list-style-type: circle;
      margin-bottom: 1em;
      > li {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
          sans-serif;
        font-weight: 500;
        font-size: 1.2em;
        margin-bottom: 0.16em;
        > a {
          font-size: 1.05em;
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
            sans-serif;
        }
      }
    }
    .Features {
      list-style-type: disc;
      > li {
        font-size: 1.3em;
        margin-bottom: 0.26em;
      }
    }
  }
  .MoreProjects {
    padding: 0em 2em;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin-top: -1.6em;
    margin-bottom: 1.6em;
    .Card {
      margin-top: 2em;
      margin-left: 2em;
      overflow: hidden;
      width: 30%;
      height: 250px;
      border-radius: 8px;
      padding: 0;
      position: relative;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
      > img {
        padding: 0;
        width: 100%;
        border-radius: 8px;
        height: 100%;
        transition: all 0.6s;
      }

      .HoveredCard {
        background-color: #353535;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        text-align: center;
        height: 100%;
        opacity: 0;
        border-radius: 8px;
        z-index: 10;
        transition: all 0.6s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        > span:nth-child(1) {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 80%;
          max-width: 80%;
          margin-bottom: 1em;
          flex-wrap: wrap;
          > p {
            cursor: pointer;
            margin: 0;
            color: #ffff;
            border: 1.5px solid #e7e7e7;
            margin-top: 0.6em;
            margin-left: 0.5em;
            border-radius: 0.4em;
            background-color: #8b36f8;
            padding: 0.06em 0.4em;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
              sans-serif;
          }
        }
        > span:nth-child(2) {
          margin-top: 1.2em;
          > a {
            box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
            text-decoration: none;
            cursor: pointer;
            outline: none;
            background-color: transparent;
            border-radius: 2em;
            font-size: 1.3em;
            font-weight: 500;
            padding: 0.3em 1em;
            color: #ffff;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
            border: 2.2px solid #7b1af8;
            margin-left: 0.4em;
            margin-right: 0.8em;
            transition: all 0.4s;
            > svg {
              margin-left: 0.26em;
            }
            &:hover {
              background-color: #7b1af8;
              color: #ffff;
            }
          }
        }
      }
      &:hover {
        .HoveredCard {
          opacity: 0.96;
        }
        > img {
          transform: scale(1.1);
        }
      }
    }
  }
}
/* ***************************** */
@media only screen and (max-width: 800px) {
  .Container {
    margin-top: 3em;
    .TopContainer {
      padding: 0.3em;
      flex-direction: column-reverse;
      justify-content: start;
      .RightWrapper {
        display: none;
      }
      .RightWrapperMobile {
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 1em;
        > img {
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          //   height: 20em;
          width: 95%;
          border-radius: 0.1em;
        }
      }
      .LeftWrapper {
        width: 100%;
        height: 17em;
        padding: 0.4em;
        padding-left: 0.4em;
        > p {
          font-size: 1.6em;
          margin: 0.1em 0;
        }
        > span {
          width: 95%;
          max-width: 95%;
          margin-bottom: 0.2em;
          align-items: center;
          justify-content: center;
        }
        .ButtonWrapper {
          margin-top: 0.4em;
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 90%;
          > a {
            width: 14em;
            margin-right: -1em;
            margin-top: 0.6em;
            font-size: 1.3em;
          }
        }
        margin-bottom: 3.6em;
      }
    }
    .BottomContainer {
      padding: 0.4em 0.6em;
      > p {
        padding: 0.2em 0.4em;
      }
      .ListContainer {
        width: 100%;
        max-width: 100%;
        overflow-x: scroll;
        padding-left: 2em;
        .List {
          //   width: 40%;
        }
      }
      > ul {
        margin-left: 0.2em;
        max-width: 100%;
        > li {
          word-wrap: break-word;
          width: 100%;
          margin-bottom: 0.4em;
        }
      }
    }
    .MoreProjects {
      padding: 1.2em 0.8em;
      display: flex;
      flex-direction: column;
      flex-flow: column;

      .Card {
        width: 100%;
        margin-left: 0;
        margin-top: 1em;
        height: 220px;
        border-radius: 3px;
        > img {
          border-radius: 3px;
        }

        .HoveredCard {
          border-radius: 3px;
          > span:nth-child(1) {
            width: 90%;
            max-width: 90%;
            > p {
              font-size: 0.8em;
              border: 1px solid #e7e7e7;
            }
          }
          > span:nth-child(2) {
            > a {
              padding: 0.4em 1em;
              font-size: 1.1em;
            }
          }
        }
      }
    }
  }
}
