.CardContainer {
  padding: 0em 2em;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin-top: 0.2em;
  .Card {
    margin-top: 2em;
    margin-left: 2em;
    overflow: hidden;
    width: 36%;
    height: 275px;
    border-radius: 8px;
    padding: 0;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
      rgba(0, 0, 0, 0.23) 0px 6px 6px;
    > img {
      padding: 0;
      width: 100%;
      border-radius: 8px;
      height: 100%;
      transition: all 0.6s;
    }

    .HoveredCard {
      background-color: #353535;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      text-align: center;
      height: 100%;
      opacity: 0;
      border-radius: 8px;
      z-index: 10;
      transition: all 0.6s ease-in-out;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      > span:nth-child(1) {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
        max-width: 80%;
        margin-bottom: 1em;
        flex-wrap: wrap;
        > p {
          cursor: pointer;
          margin: 0;
          color: #ffff;
          border: 1.5px solid #e7e7e7;
          margin-top: 0.6em;
          margin-left: 0.5em;
          border-radius: 0.4em;
          background-color: #8b36f8;
          padding: 0.06em 0.4em;
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
            sans-serif;
        }
      }
      > span:nth-child(2) {
        margin-top: 1.2em;
        > a {
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
          text-decoration: none;
          cursor: pointer;
          outline: none;
          background-color: transparent;
          border-radius: 2em;
          font-size: 1.3em;
          font-weight: 500;
          padding: 0.3em 1em;
          color: #ffff;
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
          border: 2.2px solid #7b1af8;
          margin-left: 0.4em;
          margin-right: 0.8em;
          transition: all 0.4s;
          > svg {
            margin-left: 0.26em;
          }
          &:hover {
            background-color: #7b1af8;
            color: #ffff;
          }
        }
      }
    }
    &:hover {
      .HoveredCard {
        opacity: 0.96;
      }
      > img {
        transform: scale(1.1);
      }
    }
  }
}

/* ***************************** */
@media only screen and (max-width: 800px) {
  .CardContainer {
    padding: 1.2em 0.8em;
    display: flex;
    flex-direction: column;
    flex-flow: column;

    .Card {
      width: 100%;
      margin-left: 0;
      margin-top: 1em;
      height: 220px;
      border-radius: 3px;
      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
        rgba(0, 0, 0, 0.23) 0px 6px 6px;
      > img {
        border-radius: 3px;
      }

      .HoveredCard {
        border-radius: 3px;
        > span:nth-child(1) {
          width: 90%;
          max-width: 90%;
          > p {
            font-size: 0.8em;
            border: 1px solid #e7e7e7;
          }
        }
        > span:nth-child(2) {
          > a {
            padding: 0.4em 1em;
            font-size: 1.1em;
          }
        }
      }
    }
  }
}
