.Navigation {
  padding: 0.6em 0.6em;
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffff;
  z-index: 100;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.MoveToTop {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 20px;
  z-index: 100;
  border: none;
  outline: none;
  background-color: #7917f7;
  color: white;
  cursor: pointer;
  padding: 0.4em 0.7em;
  border-radius: 50%;
  font-size: 22px;
}

.MoveToTop:hover {
  color: #7917f7;
  background-color: #ffff;
}

@media only screen and (max-width: 800px) {
  .Navigation {
    padding: 0.4em 0.2em 0.2em 0.2em;
    background-color: #ffff;
    align-items: flex-start;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  .MoveToTop {
    padding: 0px 2px;
    bottom: 18px;
    right: 16px;
    font-size: 1.6em;
    border-radius: 50%;
    padding: 0.18em 0.5em;
  }
  .MoveToTop:hover {
    color: #ffff;
    background-color: #7917f7;
  }
}
