.NavMenu {
  > ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    margin-bottom: -0.18em;
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #7b1af8;
      visibility: hidden;
      transform: scaleX(0);
      transition: all 0.3s ease-in-out 0s;
    }
    &:hover::after {
      visibility: visible;
      transform: scaleX(1);
    }
    > a {
      text-decoration: none;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-weight: 500;
      color: #303030;
      font-size: 1.6em;
      letter-spacing: 0em;
      margin-right: 0.4em;
      transition: all 0.3s;
      svg {
        font-size: 0.85em;
      }
      &:hover {
        color: #7b1af8;
      }
    }

    > a:nth-child(5) {
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
      text-decoration: none;
      cursor: pointer;
      background-color: #fff;
      outline: none;
      border-radius: 2em;
      font-size: 1.3em;
      font-weight: 500;
      padding: 0.4em 0.96em;
      color: #7b1af8;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
      border: 2.2px solid #7b1af8;
      margin-left: 0.4em;
      margin-right: 0.8em;
      transition: all 0.4s;
      &:hover {
        background-color: #7b1af8;
        color: #ffff;
      }
    }
  }
}

.MobileMenuContainer {
  display: none;
}

/* ****************************************** */
@media only screen and (max-width: 768px) {
  .Container {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .NavMenu {
    display: flex;
    flex-direction: row-reverse;
  }
  .NavMenu ul {
    display: none;
  }
  .MobileMenuContainer {
    display: block;
    display: flex;
    .MenuIcon {
      margin-top: 0.6em;
      margin-right: 1em;
      > svg {
        color: #7b1af8;
        transform: scale(2.3);
      }
    }
  }
}
