.Logo {
  width: 0px;
  margin-left: 4em;
}

.Logo img {
  height: 3.1em;
}

@media only screen and (max-width: 768px) {
  .Logo {
    margin-left: 0.8em;
    outline: none;
  }
  .Logo img {
    outline: none;

    height: 2.6em;
  }
}
