.Container {
  position: fixed;
  left: 0;
  top: 35%;
  z-index: 50;
  .List {
    display: flex;
    flex-direction: column;
    > button {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #ffffff;
      padding: 0.2em 0em;
      border-radius: 0 0.4em 0.4em 0;
      padding-top: 0.36em;
      box-shadow: #0000003d 0px 3px 8px;
      outline: none;
      border: none;
      text-decoration: none;
      margin: 0.16em 0;
      position: relative;
      transition: all 0.5s;
      left: -100%;
      > svg {
        font-size: 2.4em;
        color: #7917f7;
      }
      &:hover {
        background-color: #7917f7;
        > svg {
          color: #ffffff;
        }
      }
    }
    > a {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #ffffff;
      padding: 0.2em 0.4em;
      border-radius: 0 0.4em 0.4em 0;
      padding-top: 0.36em;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      text-decoration: none;
      margin: 0.16em 0;
      position: relative;
      transition: all 0.5s;
      left: 0%;
      > svg {
        font-size: 2.4em;
        color: #7917f7;
      }
      &:hover {
        left: 18%;
      }
    }
  }
}
@media only screen and (max-width: 800px) {
  .Container {
    top: 30%;
    .List {
      > a {
        padding: 0.3em 0.4em 0.3em 0.42em;
        > svg {
          font-size: 2.6em;
        }
        &:hover {
          left: 8%;
        }
      }
    }
  }
}
